@font-face {
  font-family: 'Roumd';
  src: url('../fonts/base.ttf');
}

$main-color: #1c1e4d;
$main-gradient: linear-gradient(to right, #f4436c 0%, #1c1e4d 100%);

div{
  position: relative;
}

h2
{
  color: $main-color;

}

*
{
  box-sizing: border-box;
}

table,
td,
tr,
tbody,
thead
{
  border-collapse: collapse;
}

a,
a:hover
{
  color:white;
  text-decoration: none;
}

body
{
  overflow: hidden;
  font-family: 'Roumb', 'Roboto', sans-serif;
}