/*navbar*/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

a,
a:visited {
  text-decoration: none;
  color: #1c1e4d;
  font-size: 1.3vw;
  font-family: 'Nunito', sans-serif;
  outline: none !important; }

.home #main-menu a:not(.button):hover,
#main-menu a:not(.button):hover,
a:hover {
  text-decoration: none;
  color: #0f0; }

p {
  font-size: 1.3vw;
  line-height: 1.6vw;
  color: #1c1e4d; }

#main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 10vw;
  z-index: 10;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.5vw; }

.shadow {
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.33); }

#main-menu * {
  margin-top: 5vw;
  float: right;
  transform: translateY(-50%);
  color: #fff; }

.home #main-menu a:not(.button) {
  color: #1c1e4d; }

#main-menu a:not(.button) {
  margin-left: 1vw; }

form #response {
  margin: 0 !important; }

.button,
.button:focus,
.button:visited {
  padding-left: 1.6vw;
  padding-right: 1.6vw;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 2vw;
  line-height: 3.5vw;
  box-sizing: border-box;
  height: 3.5vw;
  color: #fff;
  transition: all 0.3s;
  font-weight: bold;
  font-size: 1.6vw;
  display: block;
  width: 12vw;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#3aff0f), color-stop(50%, #f4436c), to(#f4436c));
  background-image: linear-gradient(90deg, #3aff0f 0%, #3aff0f 50%, #f4436c 100%);
  background-size: 200% 100%; }

.button:hover, .button:focus:hover {
  background-position: 100%;
  color: #fff; }

.ml8 {
  margin-left: 3vw; }

#ourlogo {
  height: 64%;
  top: 18%;
  width: 15vw;
  background-image: url("/camp/img/logo.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative; }

#logo-back {
  position: absolute;
  top: -317%;
  bottom: -86%;
  left: -168%;
  right: -124%;
  background-image: url("/camp/img/main page/Path_651.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1; }

.sitefooter {
  position: absolute;
  width: 100%;
  left: 0;
  height: 4vw;
  bottom: 0;
  background: rgba(28, 30, 77, 0.74); }

#main-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%; }

h1::before,
h2::before {
  display: none !important; }

/*# sourceMappingURL=header.css.map */
