/*navbar*/
a,
a:visited
{
  text-decoration: none;
  color: #1c1e4d;
  font-size: 1.3vw;
  font-family: 'Nunito', sans-serif;
  outline: none !important;
}

.home #main-menu a:not(.button):hover,
#main-menu a:not(.button):hover,
a:hover
{
  text-decoration: none;
  color: #0f0;
}

p
{
  font-size: 1.3vw;
  line-height: 1.6vw;
  color: #1c1e4d;
}

.header-main
{
  position: absolute;
  top:0;
  left:0;
  width: 70%;
  height: 10vw;
  z-index: 10;
  margin-left: 15%;
  margin-right: 15%;

  font-size: 1.5vw;
}

#main-menu *
{
  margin-top: 5vw;
  float: right;
  transform: translateY(-50%);
  color: #fff;
}

.home #main-menu a:not(.button)
{
  color: #1c1e4d;
}

#main-menu a:not(.button)
{
  margin-left: 1vw;

}

form #response
{
  margin: 0 !important;
}

.button,
.button:focus,
.button:visited
{
  padding-left: 1.6vw;
  padding-right: 1.6vw;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 2vw;
  line-height: 3.5vw;
  box-sizing: border-box;
  height: 3.5vw;
  color: #fff;
  transition: all 0.3s;
  font-weight: bold;
  font-size: 1.6vw;

  display: block;
  width: 12vw;
  text-align: center;

  background-image: -webkit-gradient(linear, left top, right top, from(#3aff0f), color-stop(50%, #f4436c), to(#f4436c));
  background-image: linear-gradient(90deg, #3aff0f 0%, #3aff0f 50%, #f4436c 100%);
  background-size: 200% 100%;
  z-index: 1;
  position: relative;
}

.button:hover, .button:focus:hover {
  background-position: 100%;
  color: #fff;
}

.ml8
{
  margin-left: 3vw;
}

#ourlogo
{
  height: 64%;
  top: 18%;
  width: 15vw;
  background-image: url('../img/logo.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
  pointer-events: none;
}

#logo-back
{
  position: absolute;
  top: -317%;
  bottom: -86%;
  left: -168%;
  right: -124%;
  background-image: url('../img/Path_651.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: -1;

}

.sitefooter
{
  position: absolute;
  width: 100%;
  left: 0;
  height: 4vw;
  bottom: 0;
  background: rgba(28, 30, 77, 0.74);
}

#main-menu
{
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  width: 70%;
}

h2::before
{
  display: none !important;
}


@media screen and (max-width: 600px) {
  a,
  a:visited {
    font-size: 5vw;
  }

  p {
    font-size: 5vw;
    line-height: 7vw;
  }

  a,
  a:visited
  {
    font-size: 5vw;
  }

  p
  {
    font-size: 5vw;
    line-height: 7vw;
  }

  .header-main
  {
    position: fixed;
    top:0;
    left:0;
    width: 90%;
    height: 100px;
    z-index: 10;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 3.5vw;
  }

  .shadow
  {
    -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.33);
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.33);
  }



  #mobile-button
  {
    display: block;
    position: fixed;
    top:25px;
    right:25px;
    width: 50px;
    height: 50px;
    background-image: url('../img/burger.png');
    background-position:right;
    background-repeat: no-repeat;
    background-size: 80%;
    z-index: 8;
  }

  #main-menu
  {
    position: fixed;
    top:0;
    left:100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 5;
    padding-top: 30vh;
    transition: left 0.5s;
  }

  #main-menu .button
  {
    position: absolute;
    transform: none;
    left: 30%;
    top: 60%;
  }

  #main-menu.open
  {
    left:0;
  }

  #main-menu *
  {
    display: block;
    margin-top: 5vw;
    float: inherit;
    text-align: center;
    transform: translateY(-50%);
  }

  .header-main #main-menu a:not(.button)
  {
    margin-left: 1vw;
    color: #1c1e4d;
  }

  .button,
  .button:focus,
  .button:visited
  {
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 5vw;
    line-height: 10vw;
    height: 10vw;
    width: 40vw;
    margin-left: 50%;
    margin-top: 10vw;
    margin-bottom: 10vw;
    transform: translateX(-50%);
    font-size: 5vw;
  }

  .ml8
  {
    margin-left: 0;
  }

  #ourlogo
  {
    width: 150px;
  }

  #logo-back
  {
    position: absolute;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }

}
