@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "base.scss";
@import "mixins.scss";
@import "header.scss";

.main
{
  padding-top: 10vw;
  padding-left: 20vw;
  padding-right: 20vw;
  display: inline-block;
  min-height: 100vh;
  background-image: $main-gradient;
  width: 100%;
  overflow: hidden;

  .mark
  {
    content: " ";
    position: absolute;
    top: -1%;
    right: -13%;
    left: -3%;
    bottom: -3%;
    background-image: url('../img/Path 1713.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  @media (max-width:600px)
  {
    padding-left:10px;
    padding-right:10px;
    padding-top: 100px;
  }

}



.unity
{

  @include Shadow(5px);
  height: 35vw !important;
  background: #452B65 !important;
}

.box
{
  @include Shadow(5px);

  background-color: rgba(255 ,255 ,255,0.95);
  border-radius: 0.2vw;
  width: 100%;
  margin-bottom: 0.5vw;
  margin-top: 1vw;
  display: inline-block;
  min-height: 3vw;
  text-align: justify;

  z-index: 2;
}

.ranking
{
  width: 100%;
}

.question
{
  padding: 20px;
}

.rankingRow
{


  &:nth-child(odd)
  {
    background: #cccccc;
  }

  &:nth-child(even)
  {
    background: #eeeeee;
  }

  &.headRow
  {
    background: none;
  }

  td
  {
    padding-left: 10px;
    padding-right: 10px;

    &:not(:first-child)
    {
      border-left: 1px solid #aaaaaa;
    }

    @media (max-width: 600px)
    {
      max-width: 40vw;
      font-size: 0.7em;
    }
  }
}

.headerLink
{
  float:right;
  padding: 5px;
  line-height: 30px;
}